{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<center><h2>About</h2></center>

<div class="container">
  <div class="jumbotron">
    <center><h1>GEEK SHOP</h1> </center>
      <center><p> Gifts for every Geek</p></center>
  </div>

</div>



        <div class="container">
    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-barcode" style="font-size: 50px; display: block; text-align: center" ></span>
            <br>
           <center><p> Dont forget to register to view our products</p>  <a href="{% url 'register' %}" class="btn btn-info btn-xs col-lg-12" style="margin-bottom:4px;white-space: normal;">Register Here</a>  </center>
            <br>

        </div>

        <div class="col-md-6">
            <span class="glyphicon glyphicon-off" style="font-size: 50px; display: block; text-align: center"></span>
            <br>
            <center><p>Check out our blog here and chat to other tech lovers. </p> <a href="/blog/" class="btn btn-info btn-xs col-lg-12" style="margin-bottom:4px;white-space: normal;">Blog</a>  </center>
            <br>

        </div>
    </div>





{% endblock %}