{% extends "base.html" %}

{% block content %}

    {% block blogtitle %}
    {% endblock %}


<div class="wrap margin-block">
<div class="container">
<div class="row">

    {% block blogcontent %}
    {% endblock %}


<aside class="col-md-3">
<ul style="list-style: none;">
<li id="search-field">
<form id="search-form">
<span><input type="text" name="s" id="search-string" onFocus="if(this.value=='search..')this.value='';" onBlur="if(this.value=='')this.value='search..';" value="search.."/>
</span>
</form>
</li><!--end search-->
<li>
<header class="sidebar-title">
<h3>Opening Hours</h3>
</header>
<div class="schedule">
<ul style="list-style: none;">
<li class="clearfix">
<div class="pt-item-title">Monday</div>
<div class="pt-item-price">08:30 - 17:00</div>
</li>
<li class="clearfix">
<div class="pt-item-title">Tuesday</div>
<div class="pt-item-price">08:30 - 17:00</div>
</li>
<li class="clearfix">
<div class="pt-item-title">Wednesday</div>
<div class="pt-item-price">08:30 - 17:00</div>
</li>
<li class="clearfix">
<div class="pt-item-title">Thursday</div>
<div class="pt-item-price">08:30 - 17:00</div>
</li>
<li class="clearfix">
<div class="pt-item-title">Friday</div>
<div class="pt-item-price">08:30 - 17:00</div>
</li>
<li class="clearfix">
<div class="pt-item-title">Saturday</div>
<div class="pt-item-price">08:30 - 17:00</div>
</li>
<li class="clearfix">
<div class="pt-item-title">Sunday</div>
<div class="pt-item-price">Closed</div>
</li>

{% endblock %}