{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<center><h2>Contact</h2></center>
    <style>

    #map {
        height:250px;
        width: 100%;
    }

    </style>

    <div id="map"></div>

    <script>
    function initMap() {
        var location = {lat: 53.349805, lng: -6.260310};
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

    }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmBdaEfN7eQsUBq5nQuY3R1SI_KKKuwhU&callback=initMap"></script>

    <hr>






<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form| as_bootstrap }}

<center><button type="submit" class="btn btn-primary">Submit</button></center>
</form>


{% endblock %}