{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<center><h2>Contact</h2></center>

<br>

        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>


<br>

    <hr>
    <form id="contact-form" method="post" role="form">

    <div class="messages"></div>

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Firstname</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname">

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">Lastname</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email">

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_phone">Phone</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me" rows="4"></textarea>

                </div>
            </div>
        </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="/contact_thanks/">Send Message</a>
                <br>
            </div>

        </div>


</form>


{% endblock %}